{% extends 'base.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">My Concert</li>
    </ol>
  </nav>
  <h2 class="mb-3">My Concert</h2>
  <a href="{% url 'concert_add_form' %}" class="btn btn-primary mb-3" role="button">Add Concert</a>
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Location</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for c in concert %}
          <tr>
            <td class="align-middle"><a href="{% url 'concert_change_form' c.pk %}">{{ c.title }}</a></td>
            <td class="align-middle">{{ c.description }}</td>
            <td class="align-middle">{{ c.location }}</td>
            <td class="align-middle">{{ c.concert_date }}</td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">You haven't created any Concert yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
